<% content_for :nav do %>
    <span class="icon-heart cardio-icon"></span>
    <div class="cardio-title">
        <img src="/img/name.png" />
    </div>
<% end %>

<div class="all">
    
    <a href="/<%= @next_key %>/play">
        <div class="tile play">
            <div class="icon-ios7-play play-button"></div>
        </div>
    </a>
    
    <% Settings.pods.each do |key, client| %>
        <a href="/<%= key %>">
            <div class="tile">
                <% if client.type == "chart" %>
                    <span class="icon icon-ios7-speedometer-outline"></span>
                <% elsif client.type == "time" %>
                    <span class="icon icon-ios7-stopwatch-outline"></span>
                <% elsif client.type == "schedule" %>
                    <span class="icon icon-ios7-calendar-outline"></span>
                <% elsif client.type == "map" %>
                    <span class="icon icon-ios7-location-outline"></span>
                <% elsif client.type == "twitter" %>
                    <span class="icon icon-social-twitter-outline"></span>
                <% elsif client.type == "image" %>
                    <span class="icon icon-ios7-camera-outline"></span>
                <% end %>
                <h1><%= client.name %></h1>
            </div>
        </a>
    <% end %>
    
</div>