/* reset */

html{color:#000;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}input,button,textarea,select{*font-size:100%;}
*:focus,a:focus,img:focus,input:focus{outline-style:none;}

/* fonts */

@font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/proximanova-regular.eot');
    src: url('/fonts/proximanova-regular.eot?#iefix') format('embedded-opentype'),
         url('/fonts/proximanova-regular.woff') format('woff'),
         url('/fonts/proximanova-regular.ttf') format('truetype'),
         url('/fonts/proximanova-regular.svg#ProximaNovaRegular') format('svg');
}
@font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/proximanova-light.eot');
    src: url('/fonts/proximanova-light.eot?#iefix') format('embedded-opentype'),
         url('/fonts/proximanova-light.woff') format('woff'),
         url('/fonts/proximanova-light.ttf') format('truetype'),
         url('/fonts/proximanova-light.svg#ProximaNovaLight') format('svg');
}
@font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/proximanova-semibold.eot');
    src: url('/fonts/proximanova-semibold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/proximanova-semibold.woff') format('woff'),
         url('/fonts/proximanova-semibold.ttf') format('truetype'),
         url('/fonts/proximanova-semibold.svg#ProximaNovaSemibold') format('svg');
}

/* layout */

html,
body {
    color: #404040;
    font: normal 15px/1.846 'Proxima Nova', 'Lucida Grande', Arial, sans-serif;
}
html {
    background: #ecf0f1;
}
body {
    padding: 10px 0px 10px 0px;
}
h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}
    h1,
    h1 a {
        color: #2ecc71;
        font-weight: 800;
        font-size: 45px;
        line-height: 45px;
        text-decoration: none;
    }
    h1 a:hover {
        text-decoration: none;
    }
    h2 {
        color: #2ecc71;
        font-weight: 800;
        font-size: 24px;
        line-height: 1;
    }

.clr {
    clear: both;
}

.button {
    background: #2ecc71;
    color: #fff;
    font-weight: 600;
    display: inline-block;
    padding: 10px 30px;
    line-height: 1;
    text-decoration: none;
    border: 0px;
    font-size: 20px;
    margin-right: 5px;
    cursor: pointer;
}
.button:hover {
    background: #27ae60;
    color: #fff;
}

nav {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #2ecc71;
    padding-left: 20px;
    padding-right: 100px;
    z-index: 10;
    overflow: auto;
    white-space: nowrap;
}

    nav .cardio-icon {
        float: left;
        font-size: 22px;
        line-height: 60px;
        color: white;
        margin-right: 20px;
    }
    nav .cardio-title {
        float: left;
        padding-top: 17px;
    }
    nav a {
        display: inline;
        color: white;
        font-weight: 600;
        font-size: 27px;
        line-height: 60px;
        margin-right: 18px;
        text-decoration: none;
        border-bottom: 0;
    }
    nav a:hover {
        text-decoration: none;
        border-bottom: 3px solid white;
    }
    nav a.selected,
    nav a.selected:hover {
        border-bottom: 3px solid #27ae60;
    }
    nav a.final {
        margin-right: 100px;
    }
    nav::-webkit-scrollbar {
        display: none;
    }

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #95a5a6;
    box-sizing: border-box;
    z-index: 10;
}

    footer .buttons {
        float: left;
        padding: 10px;
    }

    footer .title {
        float: right;
        color: white;
        font-weight: 400;
        font-size: 35px;
        line-height: 60px;
        padding-right: 20px;
        text-decoration: none;
    }

.all {
    padding-top: 50px;
}

    .all .tile {
        float: left;
        width: 25%;
        height: 200px;
        background-color: white;
        margin: 0;
        border: 5px solid #ecf0f1;
        padding: 20px;
        box-sizing: border-box;
        text-align: center;
    }
        
        .all .tile.play {
            background-color: #e74c3c;
        }
        
            .all .tile.play .play-button {
                margin: 40px auto;
                width: 100px;
                height: 100px;
                box-sizing: border-box;
                color: white;
                font-size: 100px;
                text-decoration: none;
            }

        .all .tile .icon {
            color: #2ecc71;
            font-size: 60px;
        }
        
.view {
    position: fixed;
    top: 0;
    right: 0;
    height: 60px;
    width: 60px;
    background-color: #e74c3c;
    z-index: 11;
    padding: 10px;
    font-size: 38px;
    color: white;
    cursor: pointer;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

    .view a,
    .view a:hover {
        color: white;
        text-decoration: none;
    }

.summary,
.children {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 60px 10px 10px 10px;
    clear: both;
    box-sizing: border-box;
}

.summary.newrelic {
    padding-top: 18px;
}

.children {
    padding-top: 60px;
}

.children .server {
    float: left;
    width: 50%;
    height: 50%;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
